# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Poetry
poetry.lock
.venv/
.env

# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# IDEs & editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test & coverage
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Migrations (optional, uncomment if needed)
# **/migrations/*.py
# !**/migrations/__init__.py
